<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'"
    />
    <title>Express-Shop | <%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/ckEditor.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
          <h4>
            Update
            <span style="text-transform: capitalize"><%= productName %></span>
          </h4>

          <!-- Error message -->
          <% if(msg) { %>
          <div
            style="
              width: 100%;
              background-color: rgba(255, 0, 0, 0.6);
              padding: 10px 20px;
              color: white;
              border-radius: 5px;
            "
          >
            <%= msg %>
          </div>
          <% } %>
          <!--  -->
          <% if(product) { %>
          <form
            action="/admin/<%= productName %>/update/<%= product._id %>"
            style="
              border: 2px solid #f0f4f8;
              border-radius: 10px;
              margin: 30px 0 30px 0;
              padding: 20px;
            "
            method="POST"
            enctype="multipart/form-data"
          >
            <!-- image -->

            <div class="file-field input-field">
              <div class="btn">
                <span>File</span>
                <input type="file" name="image" required />
              </div>
              <div class="file-path-wrapper">
                <input
                  class="file-path validate"
                  placeholder="Upload image of product"
                  type="text"
                />
              </div>
            </div>
            <!-- title -->
            <div class="row mb-0">
              <div class="input-field col s12">
                <input
                  name="title"
                  type="text"
                  placeholder="Title"
                  value="<%= product.title %>"
                  class="validate"
                  required
                />
              </div>
            </div>
            <% if(productName === 'computers' || productName === 'phones' ) { %>
            <!-- brand -->
            <div class="row">
              <div class="input-field col s12">
                <input
                  name="brand"
                  type="text"
                  placeholder="Brand"
                  class="validate"
                  value="<%= product.brand %>"
                  required
                />
              </div>
            </div>
            <% } else if(productName === 'books' ) { %>
            <!-- Author -->
            <div class="row">
              <div class="input-field col s12">
                <input
                  name="author"
                  type="text"
                  placeholder="Author"
                  class="validate"
                  value="<%= product.author %>"
                  required
                />
              </div>
            </div>
            <!-- category -->
            <div class="row">
              <div class="input-field col s12">
                <input
                  name="category"
                  type="text"
                  placeholder="Category (insert category with comma)"
                  class="validate"
                  value="<%= product.category.join(',') %>"
                  required
                />
              </div>
            </div>
            <% } %>
            <!-- price -->
            <div class="row">
              <div class="input-field col s12">
                <input
                  name="price"
                  type="text"
                  placeholder="Price"
                  class="validate"
                  value="<%= product.price %>"
                  required
                />
              </div>
            </div>
            <!-- rating -->
            <div class="row">
              <div class="input-field col s12">
                <input
                  name="rating"
                  type="number"
                  max="5"
                  min="0"
                  placeholder="Rating (0-5)"
                  class="validate"
                  value="<%= product.rating %>"
                  required
                />
              </div>
            </div>
            <!-- is discount ? -->
            <div class="row">
              <label style="padding-left: 11px; font-size: 16px"
                >Is discount?</label
              >
              <div style="margin-left: 11px; margin-top: 15px">
                <% if(product.isDiscount) { %>
                <label style="margin-right: 20px">
                  <input
                    class="with-gap"
                    name="isDiscount"
                    value="true"
                    type="radio"
                    checked
                  />
                  <span>Yes</span>
                </label>
                <label>
                  <input
                    class="with-gap"
                    name="isDiscount"
                    value="false"
                    type="radio"
                  />
                  <span>No</span>
                </label>

                <% } else { %>
                <label style="margin-right: 20px">
                  <input
                    class="with-gap"
                    name="isDiscount"
                    value="true"
                    type="radio"
                  />
                  <span>Yes</span>
                </label>
                <label>
                  <input
                    class="with-gap"
                    name="isDiscount"
                    value="false"
                    type="radio"
                    checked
                  />
                  <span>No</span> </label
                ><% } %>
              </div>
            </div>
            <!-- ds price -->
            <div class="row">
              <div class="input-field col s12">
                <input
                  name="discountPrice"
                  type="text"
                  placeholder="Discount price"
                  class="validate"
                  value="<%= product.discountPrice %>"
                />
              </div>
            </div>
            <!-- info -->
            <div class="row">
              <textarea id="editor" name="info" placeholder="Product info">
                <%= product.info %>
              </textarea>
            </div>
            <!-- submit -->
            <div class="row">
              <button
                style="margin-left: 11px"
                type="submit"
                class="waves-effect waves-light btn-small"
              >
                Submit
              </button>
            </div>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <!-- scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.0.0/classic/ckeditor.js"></script>
    <script src="/js/ckEditor.js"></script>
  </body>
</html>
