<div class="category">
  <div class="d-flex">
    <h3 class="d-block">PHONES</h3>
    <button class="add-category-btn">
      <a href="/admin/phones/add">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Add Product
      </a>
    </button>
  </div>

  <table class="category-table">
    <tr class="border-bottom border-top titles-row">
      <td class="num-col">#</td>
      <td>Image</td>
      <td>Name</td>
      <td>Price</td>
      <td>Discount</td>
      <td class="action-col">Action</td>
    </tr>

    <% if(phones) { %>
    <!--  -->
    <% for(let i = phones.length - 1; i >= 0; i--) { %>
    <tr class="border-bottom">
      <td><%= i+1 %></td>
      <td>
        <img
          style="width: 50px; margin-right: 20px"
          src="<%= phones[i].img %>"
          alt=""
        />
      </td>
      <td><%= phones[i].title %></td>
      <td><%= phones[i].price %></td>
      <td>
        <% if(phones[i].isDiscount){ %>
        <!--  -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          fill="#228B22"
          class="bi bi-check-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"
          />
        </svg>
        <!--  -->
        <% } else { %>
        <!--  -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          fill="#FF0000"
          class="bi bi-x-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
        <!--  -->
        <% } %>
      </td>
      <td>
        <div class="actions">
          <div class="actions-eye-btn">
            <a href="/admin/phones/read/<%= phones[i]._id %>"
              ><i class="fas fa-eye"></i
            ></a>
          </div>
          <div class="actions-pen-btn">
            <a href="#"><i class="fas fa-pen"></i></a>
          </div>
          <div class="actions-trash-btn">
            <a href="#"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </td>
    </tr>

    <% } %>
    <!--  -->
    <% } %>
  </table>
</div>
