<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header><%- include('./partials/navbar'); %></header>
    <main>
      <img style="width: 100%" src="/images/bg.jpg" alt="" />
      <div class="container py-5">
        <!-- phones -->
        <div class="row">
          <h2 class="mt-3 mb-5">Phones and Gadgets</h2>
          <% if(phones) { %> <% for(phone of phones){ %>
          <div class="col-md-2 mb-3">
            <div class="card custom-card">
              <a href="#">
                <img
                  class="card-img-top my-3"
                  src="<%= phone.img %>"
                  alt="Card image cap"
                />
              </a>

              <% if(phone.isDiscount) { %>
              <span class="discount-badge">discount</span>
              <% } %>

              <div class="card-body">
                <a href="#" class="card-brand btn btn-primary"
                  ><%= phone.brand %></a
                >

                <h5 class="card-title card-title-custom">
                  <a href="#"> <%= phone.title %></a>
                </h5>

                <div>
                  <% if(phone.rating > 0) { %>
                  <!--  -->
                  <% for(let i = 0; i < phone.rating; i++) { %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#008DFF"
                    class="bi bi-star-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>
                  <% } %>
                  <!--  -->
                  <% for(let i = 0; i < (5 - phone.rating); i++) { %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#008DFF"
                    class="bi bi-star"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                    />
                  </svg>
                  <% } %>
                  <!--  -->
                  <% } %>
                </div>
              </div>

              <div class="footer-of-card">
                <% if(phone.isDiscount) { %>
                <div class="card-price">
                  <div class="card-price-line"><%= phone.price %></div>
                  <div><%= phone.discountPrice %></div>
                </div>
                <% } else { %>
                <div class="card-price"><%= phone.price %></div>
                <% } %>
                <div class="to-basket-btn">
                  <svg
                    class="to-basket-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-cart-plus"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
                    />
                    <path
                      d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% } %>
        </div>

        <!-- computers -->
        <div class="row">
          <h2 class="mt-3 mb-5 mt-4">Computers</h2>
          <% if(comps) { %> <% for(comp of comps){ %>
          <div class="col-md-2 mb-3">
            <div class="card custom-card">
              <a href="#">
                <img
                  class="card-img-top my-3"
                  src="<%= comp.img %>"
                  alt="Card image cap"
                />
              </a>

              <% if(comp.isDiscount) { %>
              <span class="discount-badge">discount</span>
              <% } %>

              <div class="card-body">
                <a href="#" class="card-brand btn btn-primary"
                  ><%= comp.brand %></a
                >

                <h5 class="card-title card-title-custom">
                  <a href="#"> <%= comp.title %></a>
                </h5>

                <div>
                  <% if(comp.rating > 0) { %>
                  <!--  -->
                  <% for(let i = 0; i < comp.rating; i++) { %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#008DFF"
                    class="bi bi-star-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>
                  <% } %>
                  <!--  -->
                  <% for(let i = 0; i < (5 - comp.rating); i++) { %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#008DFF"
                    class="bi bi-star"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                    />
                  </svg>
                  <% } %>
                  <!--  -->
                  <% } %>
                </div>
              </div>

              <div class="footer-of-card">
                <% if(comp.isDiscount) { %>
                <div class="card-price">
                  <div class="card-price-line"><%= comp.price %></div>
                  <div><%= comp.discountPrice %></div>
                </div>
                <% } else { %>
                <div class="card-price"><%= comp.price %></div>
                <% } %>
                <div class="to-basket-btn">
                  <svg
                    class="to-basket-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-cart-plus"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
                    />
                    <path
                      d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% } %>
        </div>

        <!-- books -->
        <div class="row">
          <h2 class="mt-3 mb-5 mt-4">Books</h2>
          <% if(books) { %> <% for(book of books){ %>
          <div class="col-md-2 mb-3">
            <div class="card custom-card">
              <a href="#">
                <img
                  class="card-img-top my-3"
                  src="<%= book.img %>"
                  alt="Card image cap"
                />
              </a>

              <% if(book.isDiscount) { %>
              <span class="discount-badge">discount</span>
              <% } %>

              <div class="card-body">
                <h5 class="card-title card-title-custom">
                  <a href="#"> <%= book.title %></a>
                </h5>

                <div>
                  <% if(book.rating > 0) { %>
                  <!--  -->
                  <% for(let i = 0; i < book.rating; i++) { %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#008DFF"
                    class="bi bi-star-fill"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                    />
                  </svg>
                  <% } %>
                  <!--  -->
                  <% for(let i = 0; i < (5 - book.rating); i++) { %>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="#008DFF"
                    class="bi bi-star"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                    />
                  </svg>
                  <% } %>
                  <!--  -->
                  <% } %>
                </div>
              </div>

              <div class="footer-of-card">
                <% if(book.isDiscount) { %>
                <div class="card-price">
                  <div class="card-price-line"><%= book.price %></div>
                  <div><%= book.discountPrice %></div>
                </div>
                <% } else { %>
                <div class="card-price"><%= book.price %></div>
                <% } %>
                <div class="to-basket-btn">
                  <svg
                    class="to-basket-svg"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    class="bi bi-cart-plus"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"
                    />
                    <path
                      d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <% } %> <% } %>
        </div>
      </div>
    </main>

    <%- include('./partials/footer'); %>
  </body>
</html>
